<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
     <h1>Basketball Team</h1>
        Team name: <%= @Team_Name %>
        Coach: <%= @Coach %>
        Point Guard: <%= @Point_Guard %> 
        Shooting Guard: <%= @Shooting_GUARD %>
        Power Forward: <%= @Small_Forward %>
        Small Forward: <%=  @Power_Forward %>
        Center: <%=  @Center  %>
 </body>
</html>


